.social-link {
    width: fit-content;
}

.social-link-container {
    height: 2.5vw;
    width: 2.5vw;
    border: 0.1vw solid white;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.social-link-container:hover, .social-link-container:active {
    background-color: rgb(34, 34, 136);
    transition: .5s;
}

.social-link-container:hover .social-link-icon, .social-link-container:active .social-link-icon {
    color: white;
    transition: .5s;
}

.social-link-icon {
    font-size: 1.75vw;
    color: rgb(34, 34, 136);
    transition: .5s;
}

@media screen and (max-width: 993px) {
    .social-link-container {
        height: 6vw;
        width: 6vw;
    }

    .social-link-icon {
        font-size: 4vw;
    }
}