.ui-square-container {
    width: 30vw;
    height: 30vw;
    background-color: rgb(20, 25, 140);
    border-radius: 5vw;
    overflow: hidden;
    position: relative;
}

#sun {
    width: 18vw;
    position: absolute;
    left: 16vw;
    bottom: 16vw;
    -webkit-animation: spin infinite linear;
    animation: spin infinite linear;
    animation-duration: 60s;
}

#satellite {
    height: 5vw;
    position: absolute;
    top: 17vw;
    right: 16vw;
    -webkit-animation: satellite infinite linear;
    animation: satellite infinite linear;
    animation-duration: 60s;
    z-index: 1;
}

#about-star-1 {
    height: 1vw;
    position: absolute;
    left: 5vw;
    bottom: 7vw;
}

#about-star-2 {
    height: 0.5vw;
    position: absolute;
    left: 18vw;
    bottom: 3vw;
}

#about-star-3 {
    height: 1vw;
    position: absolute;
    left: 26vw;
    bottom: 10vw;
}

#about-star-4 {
    height: 1vw;
    position: absolute;
    top: 12vw;
    left: 3vw;
}

#about-star-5 {
    height: 1.5vw;
    position: absolute;
    top: 15vw;
    left: 13vw;
}

#about-star-6 {
    height: 0.5vw;
    position: absolute;
    top: 4vw;
    left: 9vw;
}

/* SERVICES */

#black-hole {
    height: 18vw;
    position: absolute;
    top: 6vw;
    left: 6vw;
    z-index: 1;
    -webkit-animation: breathing 2s infinite linear;
    animation: breathing 2s infinite linear;
}

#vortex {
    height: 26vw;
    position: absolute;
    top: 2vw;
    left: 2vw;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

#services-star-1 {
    height: 1.25vw;
    position: absolute;
    top: 6vw;
    left: 5vw;
}

#services-star-2 {
    height: 0.5vw;
    position: absolute;
    top: 16vw;
    left: 27vw;
}

#services-star-3 {
    height: 0.75vw;
    position: absolute;
    top: 2vw;
    left: 17vw;
}

#services-star-4 {
    height: 1vw;
    position: absolute;
    top: 20vw;
    left: 2vw;
}

#services-star-5 {
    height: 1.25vw;
    position: absolute;
    top: 27vw;
    left: 23vw;
}

#services-star-6 {
    height: 0.75vw;
    position: absolute;
    top: 26vw;
    left: 12vw;
}

/* CONTACT */

#mars {
    height: 12vw;
    position: absolute;
    top: 21vw;
    right: 21vw;
    animation: spin 60s infinite linear;
    -webkit-animation: spin 60s infinite linear;
}

#uranus {
    height: 8vw;
    position: absolute;
    top: 3vw;
    right: 4vw;
    animation: spin-reverse 60s infinite linear;
    -webkit-animation: spin-reverse 60s infinite linear;
}

#ufo {
    height: 6vw;
    position: absolute;
    top: 16vw;
    right: 9vw;
    animation: float 4s infinite ease-in-out;
    -webkit-animation: float 4s infinite ease-in-out;
}

#contact-star-1 {
    height: 1.25vw;
    position: absolute;
    top: 3vw;
    left: 4vw;
}

#contact-star-2 {
    height: 0.5vw;
    position: absolute;
    top: 10vw;
    left: 14vw;
}

#contact-star-3 {
    height: 1vw;
    position: absolute;
    top: 16vw;
    left: 6vw;
}

#contact-star-4 {
    height: 1.25vw;
    position: absolute;
    top: 14vw;
    right: 3vw;
}

#contact-star-5 {
    height: 0.75vw;
    position: absolute;
    top: 26vw;
    right: 5vw;
}

#contact-star-6 {
    height: 0.5vw;
    position: absolute;
    top: 28vw;
    right: 16vw;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes satellite {
    0% {
        -webkit-transform: rotate(0deg) translate(0, 0);
        transform: rotate(0deg) translate(0, 0);
        transform-origin: center;
    }

    50% {
        -webkit-transform: rotate(-360deg) translate(-3vw, -4vw);
        transform: rotate(-360deg) translate(-3vw, -4vw);
        transform-origin: center;
    }

    100% {
        -webkit-transform: rotate(-720deg) translate(0, 0);
        transform: rotate(-720deg) translate(0, 0);
        transform-origin: center;
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

@keyframes float {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, 1vw);
        transform: translate(0, 1vw);
    }
}