.ui-square-container {
    width: 30vw;
    height: 30vw;
    background-color: rgb(20, 25, 140);
    border-radius: 5vw;
    overflow: hidden;
}

#sun {
    width: 18vw;
    position: relative;
    left: 12vw;
    bottom: 4vw;
    -webkit-animation: spin infinite linear;
    animation: spin infinite linear;
    animation-duration: 60s;
}

#satellite {
    height: 5vw;
    position: relative;
    top: 4vw;
    right: 15vw;
    -webkit-animation: satellite infinite linear;
    animation: satellite infinite linear;
    animation-duration: 60s;
    z-index: 1;
}

#about-star-1 {
    height: 1vw;
    position: relative;
    left: 9vw;
    bottom: 13vw;
}

#about-star-2 {
    height: 0.5vw;
    position: relative;
    left: 3vw;
    bottom: 6vw;
}

#about-star-3 {
    height: 1vw;
    position: relative;
    left: 13vw;
    bottom: 1vw;
}

#about-star-4 {
    height: 1vw;
    position: relative;
    top: 5vw;
    left: 22vw;
}

#about-star-5 {
    height: 1.5vw;
    position: relative;
    top: 4vw;
}

#about-star-6 {
    height: 0.5vw;
    position: relative;
    top: 10vw;
    left: 8vw;
}

/* SERVICES */

#black-hole {
    height: 18vw;
    position: relative;
    top: 5.7vw;
    left: 0.45vw;
    z-index: 1;
    -webkit-animation: breathing 2s infinite linear;
    animation: breathing 2s infinite linear;
}

#vortex {
    height: 26vw;
    position: relative;
    left: 2vw;
    bottom: 17vw;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

#services-star-1 {
    height: 1.25vw;
    position: relative;
    left: 4vw;
    bottom: 13vw;
}

#services-star-2 {
    height: 0.5vw;
    position: relative;
}

#services-star-3 {
    height: 0.75vw;
    position: relative;
    left: 22vw;
    bottom: 15vw;
}

#services-star-4 {
    height: 1vw;
    position: relative;
    top: 9vw;
    left: 4vw;
}

#services-star-5 {
    height: 1.25vw;
    position: relative;
    top: 7vw;
    left: 21vw;
}

#services-star-6 {
    height: 0.75vw;
    position: relative;
    left: 23.5vw;
    bottom: 5vw;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes satellite {
    0% {
        -webkit-transform: rotate(0deg) translate(0, 0);
        transform: rotate(0deg) translate(0, 0);
        transform-origin: center;
    }

    50% {
        -webkit-transform: rotate(-360deg) translate(-3vw, -4vw);
        transform: rotate(-360deg) translate(-3vw, -4vw);
        transform-origin: center;
    }

    100% {
        -webkit-transform: rotate(-720deg) translate(0, 0);
        transform: rotate(-720deg) translate(0, 0);
        transform-origin: center;
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50% {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}