.card-container {
    height: 12vw;
    width: 10vw;
    background-color: black;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skill-card-icon {
    font-size: 3vw;
}

p {
    color: white;
}