.splitter-container {
    height: 4vw;
    background-color: rgb(20, 25, 140);
    overflow-y: hidden;
    position: relative;
}

#splitter-star-1 {
    height: 1.25vw;
    position: absolute;
    top: 1vw;
    left: 2vw;
}

#splitter-star-2 {
    height: 0.5vw;
    position: absolute;
    top: 2.5vw;
    left: 12vw;
}

#splitter-star-3 {
    height: 0.75vw;
    position: absolute;
    top: 0.8vw;
    left: 21vw;
}

#splitter-star-4 {
    height: 1.5vw;
    position: absolute;
    top: 1.8vw;
    left: 34vw;
}

#splitter-star-5 {
    height: 0.5vw;
    position: absolute;
    top: 1.5vw;
    left: 43vw;
}

#splitter-star-6 {
    height: 1vw;
    position: absolute;
    top: 2vw;
    left: 56vw;
}

#splitter-star-7 {
    height: 1.25vw;
    position: absolute;
    top: 0.75vw;
    left: 67vw;
}

#splitter-star-8 {
    height: 0.5vw;
    position: absolute;
    top: 2.5vw;
    left: 76vw;
}

#splitter-star-9 {
    height: 0.75vw;
    position: absolute;
    top: 0.5vw;
    left: 88vw;
}

#splitter-star-10 {
    height: 1vw;
    position: absolute;
    top: 2vw;
    left: 95vw;
}