#skills-container {
    height: fit-content;
    background: linear-gradient(0deg, rgba(35, 35, 35, 1) 0%, rgba(50, 50, 50, 1) 50%);
    padding: 6vw 6vw 10vw 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-title {
    font-size: 3vw;
    color: white;
    text-align: center;
}

#skills-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#skills-content h3 {
    font-size: 2vw;
    color: white;
    text-align: center;
}

#skills-cards-container {
    width: 50%;
}

#front-end-cards,
#back-end-cards {
    height: fit-content;
    overflow: hidden;
    white-space: nowrap;
}

#front-slider {
    display: flex;
    justify-content: space-around;
    gap: 4vw;
    width: fit-content;
    animation: scroll4 12.5s linear infinite;
}

#back-slider {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    gap: 4vw;
    animation: scroll5 10s linear infinite;
}

#front-slider:hover,
#back-slider:hover {
    animation-play-state: paused;
}

#skills-tools {
    width: 80%;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    margin-top: 5vw;
}

@keyframes scroll1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50.85%);
    }
}

@keyframes scroll2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-51%);
    }
}

@keyframes scroll3 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-51.25%);
    }
}

@keyframes scroll4 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-51.5%);
    }
}

@keyframes scroll5 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-51.75%);
    }
}

@media screen and (max-width: 993px) {
    #skills-title {
        font-size: 5vw;
    }

    #skills-content {
        flex-direction: column-reverse;
    }

    #skills-content h3 {
        font-size: 4vw;
    }

    #skills-cards-container {
        width: 100%;
    }

    #skills-tools {
        width: 90%;
        font-size: 3vw;
    }

    #front-slider {
        animation: scroll1 12.5s linear infinite;
    }

    #back-slider {
        animation: scroll2 10s linear infinite;
    }
}