.project-card-container {
    height: 30vw;
    width: 33vw;
    background-color: rgb(20, 25, 140);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
    margin-bottom: 5vw;
}

.project-card-preview {
    height: 18vw;
    width: 100%;
    position: relative;
}

.project-card-img {
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    position: absolute;
    z-index: 0;
}

.project-card-overlay {
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    transition: .5s ease-in-out;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    line-height: 17.5vw;
    cursor: pointer;
    text-decoration: none;
}

.project-card-preview:hover .project-card-overlay {
    opacity: 1;
    transition: .5s ease-in-out;
}

.project-card-title {
    font-size: 2vw;
    color: white;
    margin: 0;
}

.project-card-text {
    font-size: 1.2vw;
    color: white;
    text-align: center;
}

.project-card-code {
    width: 93%;
    font-size: 1.2vw;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgb(50, 50, 50);
    border-radius: 1vw;
    padding: 1vw;
    transition: .5s ease-in-out;
}

.project-card-code:hover {
    color: rgb(20, 25, 140);
    background-color: white;
    transition: .5s ease-in-out;
}

@media screen and (max-width: 993px) {
    .project-card-container {
        height: 52vw;
        width: 65%;
        border-radius: 4vw;
        justify-content: space-evenly;
    }

    .project-card-title {
        font-size: 4vw;
    }

    .project-card-preview {
        height: 30vw;
        width: 55vw;
    }

    .project-card-img {
        border-radius: 2vw;
    }

    .project-card-text {
        font-size: 3vw;
    }

    .project-card-code {
        font-size: 3vw;
        border-radius: 2vw;
    }

    .project-card-overlay {
        font-size: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
    }
}