nav {
    height: 5vw;
    width: 96.5vw;
    background: linear-gradient(180deg, rgba(20, 25, 140, 1) 0%, rgba(0, 0, 115, 1) 75%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 2vw;
    z-index: 10;
}

#header-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    height: 4vw;
    width: auto;
}

.header-link {
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header-link:hover, .header-link:active {
    transition: .5s ease;
    font-weight: bold;
}

#menu-button {
    display: none;
}

#menu-open {
    display: none;
}

#menu-close {
    display: none;
}

#menu-container {
    display: none;
}

@media screen and (max-width: 993px) {
    nav {
        width: 90vw;
        height: 10vw;
        padding: 0 5vw;
    }

    .header-logo {
        height: 8vw;
    }

    #header-links {
        display: none;
    }

    .header-link {
        font-size: 3.5vw;
    }

    #menu-container {
        display: block;
        height: 10vw;
    }

    #menu-button {
        display: block;
        height: 6vw;
        margin-top: 2vw;
        color: white;
    }

    #menu-open {
        height: 40vw;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: linear-gradient(0deg, rgba(20, 25, 140, 1) 0%, rgba(0, 0, 115, 1) 75%);
        border-radius: 0 0 4vw 4vw;
        padding: 5vw;
        position: absolute;
        top: 10vw;
        right: 0;
    }

    #menu-close {
        display: none;
    }

    .menu-link {
        font-size: 4vw;
        color: white;
        text-decoration: none;
    }
}