nav {
    height: 5vw;
    width: 96.5vw;
    background: linear-gradient(180deg, rgba(50, 50, 50, 1) 0%, rgba(30, 30, 30, 1) 75%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 2vw;
    z-index: 10;
}

nav div {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    height: 4vw;
    width: auto;
}

.header-link {
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
}

.header-link:hover, .header-link:active {
    transition: .5s ease;
    font-weight: bold;
}