#header-container {
    height: 5vw;
    width: 96.5vw;
    background: linear-gradient(180deg, rgba(20, 25, 140, 1) 0%, rgba(0, 0, 115, 1) 75%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 2vw;
    z-index: 100;
}

#header-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    height: 4vw;
    width: auto;
}

.header-link {
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header-link:hover, .header-link:active {
    transition: .5s ease;
    font-weight: bold;
}

#menu-button {
    display: none;
}

#menu-open {
    display: none;
}

#menu-close {
    display: none;
}

#menu-container {
    display: none;
}

@media screen and (max-width: 993px) {
    #header-container {
        width: 90vw;
        height: 12vw;
        padding: 0 5vw;
    }

    .header-logo {
        height: 8vw;
    }

    #header-links {
        display: none;
    }

    .header-link {
        font-size: 3.5vw;
    }

    #menu-container {
        display: block;
        height: 10vw;
    }

    #menu-button {
        display: block;
        height: 6vw;
        margin-top: 2vw;
        color: white;
    }

    #menu-open {
        height: 40vw;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: linear-gradient(0deg, rgba(20, 25, 140, 1) 0%, rgba(0, 0, 115, 1) 75%);
        border-radius: 0 0 4vw 4vw;
        padding: 2.5vw 5vw 5vw 5vw;
        position: fixed;
        top: 11.5vw;
        right: 0;
        animation: .5s slideIn 0s 1 ease-in-out;
        z-index: 90;
    }

    #menu-close {
        height: 40vw;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: linear-gradient(0deg, rgba(20, 25, 140, 1) 0%, rgba(0, 0, 115, 1) 75%);
        border-radius: 0 0 4vw 4vw;
        padding: 2.5vw 5vw 5vw 5vw;
        position: fixed;
        top: -35.5vw;
        right: 0;
        animation: .5s slideOut 0s 1 ease-in-out;
        z-index: 90;
    }

    .menu-link {
        font-size: 4vw;
        color: white;
        text-decoration: none;
    }

    .icon-open {
        transition: .5s transform, .5s opacity;
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }

    .icon-close {
        transition: .5s transform, .5s opacity;
        transform: rotate(-180deg) scale(1);
        opacity: 1;
    }

    @keyframes slideIn {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes slideOut {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0);
        }
    }
}