footer {
    height: fit-content;
    background-color: rgb(20, 25, 140);
    padding: 5vw;
}

#footer-links-container {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

footer p {
    font-size: 1vw;
    color: white;
    text-align: center;
}