footer {
    position: relative;
    height: fit-content;
    background: linear-gradient(180deg, rgba(20, 25, 140, 1) 0%, rgba(0, 0, 115, 1) 75%);
    padding: 5vw;
    z-index: 10;
}

#footer-links-container {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

footer p {
    font-size: 1vw;
    color: white;
    text-align: center;
}

@media screen and (max-width: 993px) {
    footer {
        height: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer p {
        font-size: 3vw;
    }
}