.banner-container {
    height: 40vw;
    width: 100%;
    background-color: rgb(20, 25, 140);
    padding: 4vw 10vw 4vw 10vw;
    overflow: hidden;
    position: relative;
}

h1 {
    width: 25%;
    position: absolute;
    font-size: 4vw;
    color: white;
    z-index: 1;
    top: 7vw;
}

#banner-star-1 {
    height: 1.25vw;
    position: absolute;
    top: 25vw;
    left: 3vw;
}

#banner-star-2 {
    height: 0.5vw;
    position: absolute;
    top: 8vw;
    left: 6vw;
}

#banner-star-3 {
    height: 1vw;
    position: absolute;
    top: 10vw;
    left: 34vw;
}

#banner-star-4 {
    height: 0.5vw;
    position: absolute;
    top: 8vw;
    left: 60vw;
}

#banner-star-5 {
    height: 0.5vw;
    position: absolute;
    top: 21vw;
    left: 50vw;
}

#banner-star-6 {
    height: 1vw;
    position: absolute;
    top: 41vw;
    left: 26vw;
}

#banner-star-7 {
    height: 1vw;
    position: absolute;
    top: 27vw;
    left: 38vw;
}

#banner-star-8 {
    height: 1vw;
    position: absolute;
    top: 10vw;
    left: 91vw;
}

#banner-star-9 {
    height: 1vw;
    position: absolute;
    top: 43vw;
    left: 91vw;
}

#banner-star-10 {
    height: 1.25vw;
    position: absolute;
    top: 38vw;
    left: 55vw;
}

#banner-star-11 {
    height: 0.5vw;
    position: absolute;
    top: 28vw;
    left: 96vw;
}

#banner-star-12 {
    height: 0.5vw;
    position: absolute;
    top: 45vw;
    left: 41vw;
}

#banner-star-13 {
    height: 1vw;
    position: absolute;
    top: 45vw;
    left: 69vw;
}

#galaxy {
    height: 35vw;
    position: absolute;
    top: 9vw;
    left: 58vw;
    -webkit-animation: spin-reverse infinite linear;
    animation: spin-reverse infinite linear;
    animation-duration: 60s;
}

#earth {
    height: 20vw;
    position: absolute;
    top: 36vw;
    right: 102vw;
    -webkit-animation: spin infinite linear;
    animation: spin infinite linear;
    animation-duration: 60s;
}

#shuttle {
    height: 8vw;
    position: absolute;
    left: 43vw;
    bottom: 32vw;
    transform: rotate(120deg);
    -webkit-animation: shuttle infinite ease-in-out;
    animation: shuttle infinite ease-in-out;
    animation-duration: 6s;
}

#astronaut {
    height: 4vw;
    position: absolute;
    top: 33vw;
    left: 43vw;
    rotate: -10deg;
    -webkit-animation: float infinite ease-in-out;
    animation: float infinite ease-in-out;
    animation-duration: 4s;
}

@keyframes planet-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes planet-spin-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes shuttle {
    0% {
        -webkit-transform: translate(0, 0) rotate(120deg);
        transform: translate(0, 0) rotate(120deg);
    }
    50% {
        -webkit-transform: translate(0, 2vw) rotate(120deg);
        transform: translate(0, 2vw) rotate(120deg);
    }
}

@keyframes float {
    0% {
        -webkit-transform: translate(0, 0) rotate(-10deg);
        transform: translate(0, 0) rotate(-10deg);
    }

    50% {
        -webkit-transform: translate(0, 1vw) rotate(-20deg);
        transform: translate(0, 1vw) rotate(-20deg);
    }
}

@media screen and (max-width: 993px) {
    #banner-container {
        margin-top: 6vw;
        height: 120vw;
    }

    h1 {
        font-size: 7vw;
        width: 35%;
    }

    #galaxy {
        height: 80vw;
        top: 30vw;
        left: 42vw;
    }

    #earth {
        height: 40vw;
        top: 90vw;
        right: 85vw;
    }

    #shuttle {
        height: 15vw;
        top: 10vw;
        left: 65vw;
    }

    #astronaut {
        height: 7vw;
        top: 70vw;
        left: 20vw;
    }

    #banner-star-1 {
        height: 3vw;
        top: 45vw;
    }

    #banner-star-2 {
        height: 1vw;
        left: 20vw;
    }

    #banner-star-3 {
        height: 2vw;
        top: 15vw;
        left: 50vw;
    }

    #banner-star-4 {
        height: 2vw;
        top: 120vw;
        left: 60vw;
    }

    #banner-star-5 {
        height: 1vw;
        top: 28vw;
        left: 87vw;
    }

    #banner-star-6 {
        height: 2vw;
        top: 80vw;
        left: 10vw;
    }

    #banner-star-7 {
        height: 2vw;
        top: 30vw;
        left: 55vw;
    }

    #banner-star-8 {
        height: 3vw;
    }

    #banner-star-9 {
        height: 1vw;
        top: 90vw;
        left: 40vw;
    }

    #banner-star-10 {
        height: 3vw;
        top: 65vw;
        left: 30vw;
    }

    #banner-star-11 {
        height: 1vw;
        top: 110vw;
        left: 75vw;
    }

    #banner-star-12 {
        height: 1vw;
        top: 120vw;
        left: 90vw;
    }

    #banner-star-13 {
        height: 2vw;
        top: 110vw;
        left: 45vw;
    }
}